body {
  background-image: linear-gradient(rgba(12,3,51, 0.3),rgba(12,3,51, 0.3));
}

p {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  color: #29233b;
  margin: 10px;
}

h1 {
  color: #29233b;
  font-family: 'Russo One', sans-serif;
  font-size: 50pts;
  line-height: 0.75;
}

h2 {
  /* color: white; */
  font-family: 'Russo One', sans-serif;
  font-size: 22px;
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

img {
  border-radius: 50%;
  width: 150px;
  margin: 10px;
  /* -webkit-filter: grayscale(100%);
	filter: grayscale(100%); */
	/* -webkit-transition: .3s ease-in-out; */
	transition: .3s ease-in-out;
  transition: transform .2s;
  box-shadow: 0px 0px 8px #ffffff;
}

a {
  color: #8656ef;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: #29233b;
}

.container {
  margin: auto;
  width: 500px;
  padding: 10px;
}

.card {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

ul {
  margin-top: 10px;
  padding-left: 0;
}

#ul_links li {
  padding: 10px;
  display: inline;
}

#ul_links li:hover {
  color: rgb(255, 255, 255);
}

.btn-blue {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 0.07rem;
  color: #8656ef;
  border: 2px solid #8656ef;
  padding: 8px 18px;
  margin-bottom: 10px;
  font-family: 'Fjalla One', sans-serif;
  transition: color 0.5s, border-color 0.5s;
}

.btn-blue:hover {
  border-color: #29233b;
  color: #29233b;
}

.button-margin {
  margin-top: 50px;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
  h2 {
    font-size: 15px;
    -webkit-text-stroke-color: #8656ef;
  }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

img:hover {
	/* -webkit-filter: grayscale(0%);
	filter: grayscale(0%); */
  transform: scale(1.1);
}
